<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão de Notas</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/insert">Inserir Aluno</a>
            <a href="/report">Relatório</a>
        </nav>
        <%- body %>
    </div>
</body>
</html>